.intro_content {
  margin: 92px 11.5%;
}

@media screen and (max-width: 1030px) {
  .intro_content {
    margin: 92px 48px;
  }
}

@media screen and (max-width: 780px) {
  .intro_content {
    margin: 88px 24px;
  }
}

@media screen and (max-width: 560px) {
  .intro_content {
    margin: 64px 16px;
  }
}