.lead_content {
  margin: 0 11.5%;
}

@media screen and (max-width: 1030px) {
  .lead_content {
    margin: 0 3.75%;
  }
}

@media screen and (max-width: 770px) {
  .lead_content {
    margin: 0;
  }
}