.photo-grid {
  width: 100%;
  padding: 0 48px 0;
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-auto-rows:  213px;
  gap: 16px;
  /* place-items: stretch; */

}

@media screen and (max-width: 1050px) {
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 225px;
    gap: 14px;

  }
}

@media screen and (max-width: 985px) {
  .photo-grid {
    padding: 0 24px 0;
    grid-template-columns: repeat(2, 352px);
    grid-auto-rows: 264px;
    gap: 16px;

  }
}

@media screen and (max-width: 560px) {
  .photo-grid {
    padding: 0 16px 0;
    grid-template-columns: 288px;
    grid-auto-rows: 216px;
    gap: 12px 0;
  }
}