.places {
  display: grid;
  grid-template-columns: 148px auto 148px;
  grid-template-rows: auto;
  grid-auto-flow: row;
  row-gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    grid-template-columns: 48px auto 48px;
  }
}

@media screen and (max-width: 800px) {
  .places {
    grid-template-columns: 24px auto 24px;
    row-gap: 73px;
  }
}

@media screen and (max-width: 615px) {
  .places {
    grid-template-columns: auto;
    row-gap: 50px;
  }
}