.cover__subtitle {
  max-width: 360px;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}

/* @media screen and (max-width: 320px) {
  .cover__subtitle {
    max-height: 48px;
  }
} */