.places__link-header {
  padding: 0;
  margin: 0 0 12px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal;
  color: #aaa;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  
}

