.header_content {
  padding: 28px 48px 56px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .header_content {
  padding: 28px 48px 48px;
  }
}

@media screen and (max-width: 768px) {
  .header_content {
  padding: 28px 24px 48px;
  }
}

@media screen and (max-width: 320px) {
  .header_content {
  padding: 16px 16px 48px;
  }
}