.lead__title {
  max-width: 720px;
  max-height: 200px;
  margin: 0;
  padding: 56px 0 32px;
  color: #FFFFFF;
  font-size: 96px;
  font-family: 'Interregular', sans-serif;
  font-weight: normal;
  line-height: 100px;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}