.places__card {
  margin: 0;
  display: grid;
  grid-template: auto auto / 460px auto;
  gap: 48px 40px;
  grid-column: 2;
}

@media screen and (max-width: 1030px) {
  .places__card {
    grid-template: auto auto / 440px auto;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 910px) {
  .places__card {
    grid-template: auto auto / 340px auto;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 615px) {
  .places__card {
    grid-template: repeat(4, auto) / 320px;
    grid-column: 1;
    gap: 32px 0;
  }
}