.places__list-link {
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: end;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 610px) {
  .places__list-link {
    grid-column: 1;
    grid-row: 2;
    margin: 0 16px;
  }
}