.footer__copy {
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  
}

@media screen and (max-width: 320px) {
  .footer__copy {
    line-height: 14px;
  }
}